/* ---- reset ---- */

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 513px;
  background-color: #333335;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

#main {
  height: 100%;
}

#greeting-text {
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
}

#intro-text {
  position: absolute;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  top: 300px;
  left: 50%;
  text-align: center;
  height: 130px;
  width: 220px;
  box-sizing: border-box;
  margin-left: -110px;
  margin-top: -65px;
}

#avatar-img {
  position: absolute;
  height: 200px;
  width: 200px;
  top: 150px;
  margin-top: -100px;
  left: 50%;
  margin-left: -100px;
  box-sizing: border-box;
  border-radius: 100%;
}

#social-links {
  position: absolute;
  top: 460px;
  margin-top: -39px;
  left: 50%;
  height: 78px;
  width: 250px;
  margin-left: -125px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
}

#social-links i {
  color: rgba(255, 255, 255, 0.8);
  font-size: 5em;
  padding: 8px;
}

#social-links i:hover{
  transform: scale(1.1);
}

#copyright {
  position: fixed;
  color: rgba(255, 255, 255, 0.8);
  width: 220px;
  left: 50%;
  margin-left: -110px;
  font-size: 12px;
  font-weight: normal;
  bottom: 0;
  box-sizing: border-box;
  text-align: center;
}